[2021-02-23 05:26] sayanchowdhury opened #2 "PyCon India 2021 Announcement"
Scheduled for **25th February 2021**

## Tasks
- [ ] Social Media announcement
- [ ] Blog post announcement
- [ ] Mailing list announcement

### Pre 4PM
- [ ] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [ ] Draft the social media announcement @Pradhvan @abhishekmishragithub
- [ ] Merge the website changes @palnabarun

### Post 5PM
- [ ] Deploy the blog and the website @palnabarun
- [ ] Send

[2021-02-23 05:29] sayanchowdhury opened #3 "PyCon India 2021 Volunteer Announcement - 1"
Scheduled for **26th February 2021**

## Tasks
- [ ] Social Media announcement
- [ ] Blog post announcement
- [ ] Mailing list announcement

### Pre 4PM
- [ ] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [ ] Draft the social media announcement @Pradhvan @abhishekmishragithub
- [ ] Merge the website changes @palnabarun

### Post 5PM
- [ ] Deploy the blog and the website @palnabarun
- [ ] Send

[2021-02-23 05:30] sayanchowdhury opened #4 "PyCon India 2021 Volunteer Announcement - 2"
Scheduled for **04th March 2021 10:00 AM IST**

## Tasks
- [ ] Social Media announcement
- [ ] Mailing list announcement

### Pre 4PM
- [ ] Draft the social media announcement @Pradhvan @abhishekmishragithub

### Post 5PM
- [ ] Send the social media announcements out @Pradhvan @abhishekmishragithub
- [ ] Announce on mailing list @raukadah

[2021-02-23 05:31] sayanchowdhury commented on #4
This will use the same blog announcement from #3, but with a change in text for the mailing list and the social media announcement.

[2021-02-23 05:33] rayandas commented on #2
We have to change Twitter, Facebook and LinkedIn bios to and add TBA as conference dates maybe? @abhishekmishragithub

[2021-02-23 05:56] abhishekmishragithub commented on #2
Yes, I will update those as well before the announcement.
Good point @rayandas 👍🏼

[2021-02-25 01:44] abhishekmishragithub commented on #2
Took reference from last year. Gonna use it as a thread.

Please review - @sayanchowdhury @rayandas @anistark

`Thread [1/3]
We are back with the 13th edition of PyCon India this time over the internet - online mode,  from 16th - 19th September. More details regarding CFP, tickets, and workshops coming soon.

https://in.pycon.org/

Thread[2/3]

PyCon India is a volunteer-driven conference and we a

[2021-02-25 04:53] raukadah commented on #2
Thank you @abhishekmishragithub for drafting it down.

We will be doing the volunteer announcement tomorrow, so we can save this tweet for tomorrow?

[2021-02-25 04:58] Sc0rpi0n101 commented on #2
The PR for the blog is https://github.com/pythonindia/inpycon-blog/pull/352

I think the blog link would be better here.

How about "Feel free to join our Zulip channel or find us on the Freenode network at #pyconindia to stay up to date with the conference and interact with the community,"?

[2021-02-25 05:04] abhishekmishragithub commented on #2
Shall i remove the 2nd thread then?
let's have only 1st and 3rd.

[2021-02-25 05:05] abhishekmishragithub commented on #2
Looks good, just need to check the character limit 😄

[2021-02-25 05:18] abhishekmishragithub commented on #2
Updated:
[code]

[2021-02-25 05:19] anistark commented on #2
If we move the volunteer form tweet to tomorrow, rest can go today.
👍🏼

[2021-02-25 06:13] palnabarun opened #5 "PyCon India 2021 Website Bootstrap"
- [x] Create boilerplate @abhishekmishragithub
- [x] Create repo @palnabarun
- [x] Deploy website at /2021 @palnabarun
- [ ] Redirect / to /2021 @palnabarun (should be done before announcement)

[2021-02-25 06:15] palnabarun opened #6 "Create initial shadowing documentation"

[2021-02-25 06:27] sayanchowdhury commented on #2
Agreed, volunteer tweet to go tomorrow. Rest looks good.

[2021-02-25 07:01] palnabarun commented on #6
Initial documentation is available at https://in.pycon.org/navigator/2021/shadowing.html

[2021-02-25 07:01] #6 closed

[2021-02-25 09:47] abhishekmishragithub commented on #2
@Sc0rpi0n101, suggested sentence os exceeding the character limit in twitter.
So, I am keeping the initial draft only.

[2021-02-25 10:37] Sc0rpi0n101 commented on #2
So, I am keeping the initial draft only.

Sure

Also, can someone review and merge the blog? It's almost time.
CC: @palnabarun @sayanchowdhury

[2021-02-25 12:14] abhishekmishragithub commented on #2
@sayanchowdhury Please close this issue.

[2021-02-25 12:53] raukadah commented on #2
Proposal sent: https://mail.python.org/pipermail/inpycon/2021-February/013146.html

[2021-02-25 14:09] abhishekmishragithub opened #9 "Create event on FB & LinkedIn for PyCon India 2021"
### Tasks:

- [x] Create an event on PyCon India Facebook Page
- [x] Create an event on PyCon India LinkedIn Page

[2021-02-25 19:44] abhishekmishragithub commented on #3
Draft for social media announcement:

[code]

@sayanchowdhury @raukadah please review.

[2021-02-26 08:42] #2 closed

[2021-02-26 08:43] sayanchowdhury commented on #3
Looks good to me @abhishekmishragithub

[2021-02-26 09:39] Sc0rpi0n101 commented on #3
The Blog PR: https://github.com/pythonindia/inpycon-blog/pull/353

[2021-02-26 12:44] abhishekmishragithub commented on #3
Please close this issue, as all the announcements are done. Please find below URL's of the post.

Twitter: https://twitter.com/pyconindia/status/1365276202496270340?s=20
Linkedin: https://www.linkedin.com/posts/pyconindia_pycon-india-2021-volunteer-form-activity-6771042048880582656-fbYD
Facebook: https://www.facebook.com/PyConIndia/posts/4070189523003059
Inpycon mailing list: https://mail.python.o

[2021-02-27 16:35] laishawadhwa opened #10 "PyCon India 2021 CFP Announcement Roadmap"
- [x] CFP Server Setup
- [x] Review CFP content for blogs and announcements on social media/mailing lists
- [x] Prepare a list of CFP topics/domains (Pycon India 2020: 12 topics)
- [x] Add CFP button on the main website
- [x] Prepare a blog post for CFP (1 or 2)
- [x] 2nd blog post can be about tips on writing a good CFP
- [x] Social media announcements for CFP
- [x] Form the CFP team
- [ ] Good t

[2021-03-01 08:39] realslimshanky commented on #10
@laishawadhwa I'm made a plan to upgrade Junction and shared on Zulip, can you please let me know your Zulip username or ping me there using `realslimshanky` so I can tag you to the thread?

[2021-03-01 09:40] anistark commented on #10
@realslimshanky The upgrade plan is to be taken separately. Let's not pause CFP process for that.

[2021-03-01 15:35] realslimshanky commented on #10
@anistark aren't we going to push updated CFP this year? I was hoping to start fresh since we have time in our hands.

[2021-03-02 06:07] abhishekmishragithub commented on #3
@sayanchowdhury please close this.

[2021-03-02 06:10] raukadah opened #11 "PyCon India 2021 CFP Announcement"
Scheduled for **05 March 2021**

## Tasks
- [ ] Junction setup for 2021
- [ ] Social Media announcement
- [ ] Blog post announcement
- [ ] Mailing list announcement

### Pre 4PM
- [ ] Set up Junction for CFP 2021
- [ ] Verify the contents of Junction
- [ ] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [ ] Draft the social media announcement  @abhishekmishragithub
- [ ] Add CFP button on main

[2021-03-02 06:12] raukadah commented on #10
Added a separate issue to track the announcements https://github.com/pythonindia/inpycon2021-tasks/issues/11

[2021-03-02 06:23] abhishekmishragithub commented on #11
Will keep you posted, just saw the issue :P

[2021-03-02 06:27] raukadah commented on #3
https://mail.python.org/pipermail/inpycon/2021-February/013149.html email sent .

[2021-03-02 06:27] #3 closed

[2021-03-02 14:56] abhishekmishragithub commented on #4
Draft for social media post:

[code]

@sayanchowdhury @raukadah please review.

[2021-03-02 16:07] Sc0rpi0n101 opened #12 "PyCon India 2021 updated dates Announcement"
Scheduled for 3rd March 2021

## Tasks
- [ ] PyCon India 2021 Main website updates
- [ ] Social Media announcement
- [ ] Blog post announcement
- [ ] Mailing list announcement

## Pre 4PM
- [ ] Update PyCon India 2021 Main website with new dates @abhishekmishragithub
- [ ] Update the announcement blog with new dates @vipulgupta2048 @Sc0rpi0n101
- [ ] Merge the updated dates blog @vipulgupta2048 @S

[2021-03-03 09:57] abhishekmishragithub commented on #12
Social media draft :

[code]

@sayanchowdhury @raukadah @Sc0rpi0n101, please review.

[2021-03-03 11:43] raukadah commented on #12
Do we also want to include https://in.pycon.org/blog/2021/schedule-update.html in the tweet?

[2021-03-03 14:00] rayandas commented on #12
Social media announcement:
Twitter:
https://twitter.com/pyconindia/status/1367105452182364165?s=19
Facebook:
https://www.facebook.com/133849919970392/posts/4084656694889675/
LinkedIn:
https://www.linkedin.com/feed/update/urn:li:activity:6772873411774558208

[2021-03-03 14:35] raukadah commented on #12
https://mail.python.org/pipermail/inpycon/2021-March/013152.html email sent and blog published https://in.pycon.org/blog/2021/schedule-update.html

Thanks everyone for working on this.

[2021-03-03 14:35] #12 closed

[2021-03-03 18:34] anistark commented on #10
There's never really enough time. We need to start CFP either way tomorrow. Take your time with the upgrade. @realslimshanky

[2021-03-03 18:38] realslimshanky commented on #10
@anistark sure. I'll work on the upgrade on the side and make sure we get there.

[2021-03-04 04:56] realslimshanky commented on #4
The email has been sent to PyCon India https://mail.python.org/pipermail/inpycon/2021-March/013155.html and PyDelhi https://mail.python.org/pipermail/ncr-python.in/2021-March/001969.html

[2021-03-04 05:06] raukadah commented on #4
Thanks People, Closing it now.

[2021-03-04 05:06] #4 closed

[2021-03-04 05:49] laisha-wadhwa commented on #10
Have pinged on Zulip

[2021-03-04 07:07] raukadah opened #13 "PyCon India 2021 Communication channels"
Scheduled for **05 March 2021**

## Tasks
- [ ] Blog post stating different communication channels
- [ ] Mailing list announcement

### Pre 4PM
- [ ] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [ ] Email draft review @realslimshanky
- [ ] Merge the website changes @palnabarun

### Post 5PM
- [ ] Send the social media announcements out  @abhishekmishragithub
- [ ] Announce on mailing list @r

[2021-03-04 07:20] rayandas commented on #11
Social media announcement for CFP announcement:

We are excited to announce that we’re now opening the CFP for PyCon India 2021. We can't wait to hear all your amazing ideas! The due date is "date"
Learn more: "Blog"

#PyConIndia2021 #Python
"Poster"
{add other meetup groups}

@abhishekmishragithub @raukadah @sayanchowdhury

[2021-03-04 07:25] abhishekmishragithub commented on #11
LGTM 👍🏼

[2021-03-04 07:27] abhishekmishragithub commented on #11
@raukadah here is the PR for the `submit a talk` button on the website.
link: https://github.com/pythonindia/inpycon2021/pull/5

[2021-03-04 16:52] RiteshAgrawal opened #14 "Finalize PyCon India 2021 Logo"
We have 5 logo option available for the conference and would like to have feedback for the same.
Please use :thumbsup: for your preferred logo. Make sure to provide the feedback before March 10

[2021-03-04 16:57] RiteshAgrawal commented on #14
Logo 2
![Uploading c2.jpg…]()

[2021-03-04 16:57] RiteshAgrawal commented on #14
Logo 3
![Uploading c3.jpg…]()

[2021-03-04 16:57] RiteshAgrawal commented on #14
Logo 4
![Uploading c4.jpg…]()

[2021-03-04 16:57] RiteshAgrawal commented on #14
Logo 5
![Uploading c5.jpg…]()

[2021-03-05 06:02] brilliantblu commented on #14
Logo 4 looks chill, relax and stress-free!

[2021-03-05 06:52] raukadah opened #15 "PyCon India 2021 Keynotes names suggestions announcements"
Scheduled for **07 March 2021**

## Tasks
- [ ] Mailing list announcement
- [ ] Social Media announcements

### Pre 4PM
- [ ] Draft the email for keynote names suggestion
- [ ] Draft the social media text forkeynote names suggestion

### Post 5PM
- [ ] Send the social media announcements out  @abhishekmishragithub
- [ ] Announce on mailing list @laishawadhwa
- [ ] Send the announcements to differe

[2021-03-05 07:26] KanakKvdi commented on #14
I truly love no. **4 **and** 5!**

[2021-03-05 07:30] KanakKvdi commented on #14
I think 4 gets my vote, considering the theme and our current living style or "normal". 4 conveys it eloquently!

[2021-03-05 07:51] shivangdubey commented on #14
Logo 1 also seems nice, subtle colours with a very trending theme.

[2021-03-05 08:16] Sc0rpi0n101 commented on #15
I've created an email draft at https://pad.riseup.net/p/inpycon-keynote-suggestions. Please review.

[2021-03-05 09:01] ChiragSukhala commented on #14
5th one is cool and futuristic. It represents the knowledge accessibility we have today and python's contribution in it. Also motivates to attend online events as there is no geographic limitations now, and use tech to build a better world.

my vote to 5th.

[2021-03-05 12:18] Thedijje commented on #9
Hi @abhishekmishragithub what's schedule for this? when we are expecting this to be created and what are requirements.
For example
- Logo
- Description content
like that?

[2021-03-05 12:44] abhishekmishragithub commented on #9
Hey @Thedijje , this will be done once conference schedule will is out. Not urgent now.

[2021-03-05 17:10] realslimshanky opened #16 "PyCon India 2021 | Call for Volunteers meeting"
Please leave a desired time you are available at for the meeting, I'll schedule the meeting accordingly.

CC:
@sayanchowdhury @abhishekmishragithub

[2021-03-05 17:14] realslimshanky opened #17 "Putting a list of outreach channels and document it"
The goal is to put all the mailing lists and other channels where news and announcements about the conference can be posted. CC @raukadah

[2021-03-06 03:55] abhishekmishragithub commented on #16
I am fine with Post lunch.

[2021-03-06 07:31] realslimshanky commented on #16
@sayanchowdhury what about you?

[2021-03-06 07:44] realslimshanky commented on #17
@raukadah Let's start this async and meet on a call whenever possible.
I've created [a google sheet](https://docs.google.com/spreadsheets/d/1co9BV2_WrVyJTbKez0CuLphSIz31rpCAlp0DlmLstbU/edit?usp=sharing) to list down all the mailing lists and also new columns can be used to manage post sent to the lists.

[2021-03-06 11:24] realslimshanky commented on #15
@Sc0rpi0n101 Fix a few things, the rest looks good to me.

[2021-03-06 14:40] realslimshanky commented on #17
@raukadah I've updated the sheet with instructions about how to use it,
[code]

[2021-03-07 06:21] realslimshanky commented on #15
@laishawadhwa I've added your name to the sheet to follow up on the mailing lists, you also have the permission to edit it.
https://docs.google.com/spreadsheets/d/1co9BV2_WrVyJTbKez0CuLphSIz31rpCAlp0DlmLstbU/edit?usp=sharing
cc: @raukadah

[2021-03-08 12:18] abhishekmishragithub commented on #16
@realslimshanky, finally we can close this issue 😅

[2021-03-08 12:18] #16 closed

[2021-03-08 12:19] sayanchowdhury commented on #16
The meeting is done and concluded.

[2021-03-08 16:35] rayandas commented on #14
We should close the Logo issue as we past the deadline today which was 20:00 IST. Logo 4 is the winner I can see. 🎉 @RiteshAgrawal

[2021-03-09 04:42] realslimshanky opened #20 "WG Description doc"
This task requires 2 steps:

- [ ] Creating WG Description doc.
This has to be done by the WG leads. In order to provide more information to the volunteers on the onboarding call (and later through email) we need some information. Please follow the template provided in this pad and add information regarding your WG below that: https://pad.riseup.net/p/izgOqI3LDis1TP_gUtJU
@laishawadhwa @vipulgupta

[2021-03-10 17:35] RiteshAgrawal commented on #14
Based on the feedback and votes, logo4 has been finalised for PyCon India 2021.

Closing the issue

[2021-03-10 17:35] #14 closed

[2021-03-12 14:46] satyaakam commented on #17
more lists to be added

1. https://groups.google.com/g/ilugcbe
2. https://groups.google.com/g/amity-linux-group
3. https://groups.google.com/g/nitdgplug
4. https://groups.google.com/g/jiitlug
5. https://groups.google.com/g/ml-india
6. https://groups.google.com/g/mumpy

there are some more will keep updating here

[2021-03-14 14:21] codenamesubho opened #21 "Putting the BOF session schedule on inpycon 2021 website"
For better visibility of participants we should share the BOF session schedule on the website. The design needs to accommodate that.

[2021-03-18 17:26] raukadah opened #22 "Include github usernames for all workgroup leads and shadows"
For assigning issues on tasks, we need to get all the work groups leads github user names at one place.
Please comment on this issue, so that we can add you in this repo.

[2021-03-18 17:29] raukadah commented on #11
All the tasks related to this issue is done, closing it.

[2021-03-18 17:29] #11 closed

[2021-03-18 17:32] pushplataranjan commented on #22
You can add me to this repository.

[2021-03-19 15:09] wavicles commented on #22
Add me please :)  username:  wavicles

[2021-03-20 15:40] realslimshanky commented on #22
Please use this account. Thanks.

[2021-03-21 08:38] sayanchowdhury commented on #22
GH username: sayanchowdhury

[2021-03-21 08:38] rayandas commented on #22
username: rayandas

[2021-03-21 08:39] anistark commented on #22
👋🏼 [anistark](https://github.com/anistark)

[2021-03-21 08:39] girish946 commented on #22
GH: girish946

[2021-03-21 08:39] Sc0rpi0n101 commented on #22
@sc0rpi0n101

[2021-03-21 09:58] abhishekmishragithub commented on #22
Use this username: abhishekmishragithub

[2021-03-21 09:58] inovizz commented on #22
@inovizz

[2021-03-21 09:59] vipulgupta2048 commented on #22
@vipugupta2048

[2021-03-21 09:59] codenamesubho commented on #22
@codenamesubho

[2021-03-21 09:59] sukanyamandal commented on #22
github username: sukanyamandal

[2021-03-21 10:00] iamaravindsekar commented on #22
Username - @noblebatman

[2021-03-24 06:35] raukadah commented on #15
Thanks to everyone who worked on it, closing it now

[2021-03-24 06:35] #15 closed

[2021-03-24 23:19] rachejazz commented on #22
@rachjazz

[2021-03-26 07:24] raukadah commented on #22
@palnabarun Can you add the following people in this repo so that we can assign issues and comment on that?
[code]

[2021-03-29 07:33] palnabarun commented on #22
@raukadah -- All have been added. Those who weren't part of the @pythonindia organization have been sent requests to join the org.

Also made you and @anistark maintainers for the parent team (https://github.com/orgs/pythonindia/teams/pycon-india-2021-team).

[2021-03-30 15:57] anistark opened #24 "CFP Weekly Targets"
Weekly Targets

| (by Date) | CFP cumulative Target |
| --- | --- |
| April 2nd | 20 |
| April 9th | 50 |
| April 16th | 75 |
| April 23rd | 125 |
| April 30th | 200 |
| May 7th | 275 |
| May 14th | 350 |

Please update by each week end updates on what's accomplished.

[2021-04-02 04:50] raukadah opened #25 "Checklist for Keynote speakers for smooth onboarding"
We should create a checklist for keynote speakers like once keynote speaker confirms for the keynote what are the things we need from them so that we can announce on time, go via onboarding so that they can easily present the talk.

[2021-04-02 05:34] abhishekmishragithub opened #26 "Communication WG Volunteers GitHub usernames."
Please comment your GitHub username.

[2021-04-02 05:37] ramkalahasthy commented on #26
ramkalahasthy

[2021-04-02 05:43] sidrakshe28 commented on #26
sidrakshe28

[2021-04-02 05:55] abhishekmishragithub commented on #26
Commenting on behalf of Megha --> @apsychogirl

[2021-04-02 06:18] rohitsinngh commented on #26
@rohitsinngh

[2021-04-02 06:19] rachejazz commented on #26
Zulip user Divya Goswami
@rachejazz on GitHub

[2021-04-02 06:25] rparvat2 commented on #26
rparvat2

[2021-04-02 06:45] vedant-kakde commented on #26
vedant-kakde

[2021-04-02 08:12] shivangdubey commented on #26
shivangdubey

[2021-04-02 11:02] akash-kd commented on #26
akash-kd

[2021-04-02 17:00] GoelJatin opened #27 "Job board for PyCon India 2021"
Plan a job board for the conference. Need to look into the approach for PyConf Hyd 2020 to use Google Forms and publish the jobs directly on PyCon India website under `/jobs`

[2021-04-02 17:20] GoelJatin opened #28 "In-Kind sponsorships"
Consider whether we want to have in-kind sponsors and what benefits we would offer. E.g.;

1. Logo on website
2. SM announcement
3. Mention in Opening address
4. Mention in Closing address (Optional)

[2021-04-05 06:18] haripriya9647 commented on #26
haripriya9647

[2021-04-05 06:33] abhishekmishragithub commented on #26
Closing the issue @raukadah
will share the details with nabarun.

[2021-04-05 06:33] #26 closed, assigned to nobody

[2021-04-06 04:45] raukadah commented on #25
@RiteshAgrawal Please work with sayan and get it sorted and start reaching out to confirmed speakers.

[2021-04-08 13:37] satyaakam commented on #17
I see mails being sent to different mailing list as cross post , can we just put all the mailing  addresses in BCC ?

[2021-04-08 14:51] sayanchowdhury commented on #17
I agree with @satyaakam. Rather than sending a separate email please cc, or bcc the mailing addresses. Though I would suggest to send a separate email to inpycon mailing list.

gist:
- main email to inpycon
- second email with all emails in cc and with [X-POST] in subject to the mailing list
- chair can send the email to PSF related mailing lists if needed.

[2021-04-09 04:26] bijjybox opened #29 "PyCon India 2021 Flying Circus Hangout Plan"
## Tasks

 **Proposed Dates**
- 24 Apr 2021
- Sprint wise

**Proposed Platform**
- YT
- Twitter Space
- Google Meet

**Hosts**
- For first event - @abhishekmishragithub @apsychogirl
- Nominate yourself here

 **Social media posts**
- Minimum of 2 posts before event and one post event
- Cross posting on Twitter, IG, Mailing Lists, Reddit, Facebook, LinkedIn @ramkalahasthy @rachejazz @haripriya9647

[2021-04-09 05:25] rayandas opened #30 "Outreach Partner Announcement"
Scheduled for ~~**9th April 2021**~~ ~~**11th April 2021**~~ 12th April 2021

## Tasks
- [x] Social Media announcement
- [x] Blog post announcement
- [x] Mailing list announcement

### Pre 4PM
- [x] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [x] Draft the social media announcement @rachejazz @ramkalahasthy
- [x] Merge the website changes (if any) @palnabarun / @sayanchowdhury

### Post 5PM

[2021-04-09 09:24] wavicles opened #31 "Accepting BoF sessions through CFP"
## Tasks
- [x] Add a third category of proposals for BoF in Junction
- [ ] Add description about BoF on CFP page
- [ ] Announcement/Request BoF proposal submission (with a blog post??)

[2021-04-10 10:28] abhishekmishragithub commented on #30
Updating the target date to 11th April, 2021

[2021-04-10 10:33] abhishekmishragithub commented on #30
cc: @sayanchowdhury, @palnabarun

[2021-04-10 10:35] raukadah opened #32 "PyFlames 2021 Roadmap"
## Proposed Dates
* First week of May(02nd May)
* First week of August

## Platform
* Airmeet if it free
* Otherwise go with sponsored Zoom

## Structure
* 15 mins talk + 5 Q&A
* Talks from all python local meetup usergroups including pyladies
* 8 talks
* optional (4 lightening talks)

## No. of events
* 2

## Action Items
 * Create an github issue and outline the plan there and assign tasks via s

[2021-04-11 15:02] yash-saini commented on #26
StormBreaker

[2021-04-12 16:55] RiteshAgrawal opened #33 "Get the POC for each of the Python User Group"
Need to get POC from each of the Python User Group

- Bangpypers
- PythonPune
- PyDelhi
- HydPy
- ChennaiPy
- Pyladies
- PyJaipur

[2021-04-13 04:24] rayandas commented on #30
Mail to mailing list: https://mail.python.org/pipermail/inpycon/2021-April/013200.html
Twitter: https://twitter.com/pyconindia/status/1381818240502886410
Facebook: https://www.facebook.com/133849919970392/posts/4202733196415357/
LinkedIn: https://www.linkedin.com/feed/update/urn:li:activity:6787584838225526784

[2021-04-13 04:24] #30 closed, assigned to nobody

[2021-04-14 15:18] RiteshAgrawal commented on #33
- Bangpypers - Abhiram
- PythonPune - Bhavin
- PyDelhi - Nikhil
- HydPy - Sanchit
- ChennaiPy - Rengaraj
- Pyladies - Sukanya
- PyJaipur -

[2021-04-14 16:28] RiteshAgrawal opened #34 "Create Pyflames event on each of the meetup group page"

[2021-04-14 16:30] RiteshAgrawal opened #35 "Setup event platform"
Create event on airmeet platform.

Airmeet allows 300 users in the free account.

[2021-04-14 16:31] RiteshAgrawal opened #36 "Create blog for Pyflames"

[2021-04-14 16:31] RiteshAgrawal opened #37 "Create poster for pyflames"

[2021-04-14 16:32] RiteshAgrawal opened #38 "Promotions for PyFlames"

[2021-04-14 16:34] RiteshAgrawal opened #39 "Finalise speakers for Pyflames"

[2021-04-15 16:53] RiteshAgrawal commented on #37
-  All meetup groups need to provide the logo

[2021-04-15 16:55] RiteshAgrawal commented on #34
Abhiram need to share the generic content to be posted on each meetup group.

[2021-04-15 16:57] akshaygin commented on #37
PythonPune logo image, download it from here: https://github.com/pythonpune/design/blob/master/logo/full-logo/PythonPune_logo_1000X1000_90dpi.png

[2021-04-15 16:58] RiteshAgrawal commented on #36
Two blogs
- One blog in general for the event
- Other blog about the speakers

[2021-04-16 07:37] rachejazz opened #40 "Guidelines for Outreach Partners [content request]"
We should prepare content that we would want our outreach partners to send out.
They may tweak it or put them on their own words but this will give them an idea on what to share.

Should cover the following:
- [ ] mail for cfp,
- [ ] tickets later,
- [ ] fb post, twitter, LinkedIn, insta etc..

@Sc0rpi0n101 @rayandas @rachejazz
For scrutiny: @anistark @abhishekmishragithub

[2021-04-16 15:02] wavicles opened #41 "Grant CFP/Junction access to Sessions WG"
Grant acces to @wavicles (Praveen) and @codenamesubho for making necessary changes to CFP page to accept BoF and Poster Presentation proposals.

[2021-04-16 16:30] wavicles commented on #41
This is done by @palnabarun. Hence Closing the issue.

[2021-04-16 16:30] #41 closed, assigned to palnabarun

[2021-04-16 16:34] GoelJatin opened #42 "[Platform] - Start a thread with Hopin team"
@raukadah to start an introductory thread with Hopin team to understand any upcoming features or integrations that we might need to consider for our event and start demo and tests.

@GoelJatin to drive it forward (can only work on it after May first / second week)

To be started / re-visited in May first week sync-up

[2021-04-16 16:37] palnabarun commented on #41
Done! Both of you're Staff.

[2021-04-17 15:41] bijjybox commented on #29
## Flying Circus First event - Scheduled on 24 Apr 2021
**Theme** - Past Pycon Experiences
**Host** - @apsychogirl  + @abhishekmishragithub
**Platform** - Google Meet Link (meet.google.com/kdo-zgms-pef)
**Speakers** - Yet to be decided
**Document for the reference** - [Doc](https://docs.google.com/document/d/1gmaFvR83LW9SCOlxxWWRQyJsevELA8azlnibqxsN8hc/edit?usp=sharing)

 ## Tasks
 Scheduled for 2

[2021-04-17 17:33] vipulgupta2048 opened #43 "Update PyCon India mailing list description"
![Screenshot from 2021-04-17 23-01-32](https://user-images.githubusercontent.com/22801822/115121531-eb9ed100-9fd0-11eb-914d-78e3f330d25f.png)

The mailing list description needs an uplift and could also have a mention of twitter and instagram this time around. Assiging Chandan so he assigns someone else.

[2021-04-18 12:39] Sc0rpi0n101 commented on #29
@apsychogirl can you send me some pointers regarding the event or a link to the docs with the details of the event for the blog.

nvm. Didn't see the doc link in the comment above

[2021-04-18 13:01] bijjybox commented on #29
Doc link - https://docs.google.com/document/d/1gmaFvR83LW9SCOlxxWWRQyJsevELA8azlnibqxsN8hc/edit?usp=sharing

Let me know if you need anything else

[2021-04-19 13:19] abhiramr commented on #37
Bangpypers - https://github.com/bangpypers/assets/blob/master/logo/bangpypers-square-large.png

[2021-04-19 13:59] abhiramr opened #44 "Call for Proposals for PyFlames talks"

[2021-04-19 14:00] abhiramr commented on #44
- [x] Bangpypers

[2021-04-19 14:04] abhiramr commented on #34
In the content below, please remove your own Chapter name in the brackets and please add the rest of the chapter names. - @RiteshAgrawal - Can you please mention all the chapter names?

<hr>

**Generic content -**

Agenda:

Pycon 2021 is just a few months away. So as a precursor, we're conducting a couple of meetups collaborating with all the other chapters across the country as well! (Bangpypers,

[2021-04-19 15:08] iamaravindsekar commented on #37
How many logos are we expecting? And would be great to know the deadline for closing this issue

[2021-04-20 07:35] RiteshAgrawal commented on #37
@noblebatman 6 logos.
Target would be wednesday EOD

[2021-04-21 08:40] inovizz commented on #37
![image](https://user-images.githubusercontent.com/3849885/115524048-5428cf00-a2ab-11eb-9b0f-5e6ceb40b00c.png)

[2021-04-21 08:48] realslimshanky commented on #37
![PyDelhi Logo](https://github.com/pydelhi/pydelhi.github.io/raw/master/assets/images/android-icon-144x144.png)

[2021-04-21 10:38] iamaravindsekar commented on #37
Hello there, done with the PyFlames poster and attaching it here, I have also added it to the Gdrive
url - https://drive.google.com/drive/u/0/folders/1GVsbjU16PltmZAUxhJS1e31BkAAKutfY
![PYflames](https://user-images.githubusercontent.com/20441340/115540613-d5885d80-a2bb-11eb-8fe4-a723a4570e42.png)

[2021-04-21 12:05] manaswinidas commented on #37
![logoname](https://user-images.githubusercontent.com/22885912/115550833-efc83880-a2c7-11eb-93d7-ebcef2630e2f.jpeg)
![logoname-removebg-preview](https://user-images.githubusercontent.com/22885912/115550847-f191fc00-a2c7-11eb-87c6-f2fa897126ec.png)

[2021-04-21 12:21] iamaravindsekar commented on #37
Attaching the updated poster, It can also be found in the Gdrive
Url - https://drive.google.com/file/d/1vQTQA_Q7B_GLj0NeIL4LBa4B6Hf61oX_/view?usp=sharing
![PYflames](https://user-images.githubusercontent.com/20441340/115748126-845b9500-a3b3-11eb-8b3d-610afe311593.png)

[2021-04-21 16:10] raukadah commented on #21
We will be having a separate page for the BOF.

[2021-04-22 16:08] RiteshAgrawal commented on #39
Bangpypers - Anand C - Joy of Programming

[2021-04-22 16:09] Sc0rpi0n101 commented on #39
PyDelhi - anjalibhavan - Ethical Considerations While Building AI Systems
https://github.com/pydelhi/talks/issues/193

[2021-04-22 16:14] RiteshAgrawal commented on #37
Ritesh to take permission from PyJaipur to add their logo in the Pyflames.

[2021-04-22 19:11] vipulgupta2048 opened #45 "[Deployment needed] PyCon India blog"
Request the deployment of the blog. Thanks! @pythonindia/pycon-india-2021-leads-approvers @pythonindia/pycon-india-2020-infrastructure  cc: @Sc0rpi0n101

[2021-04-24 00:43] satyaakam commented on #44
- [x] PyDelhi

[2021-04-24 00:49] satyaakam commented on #43
I have a made all the changes you can close this

[2021-04-24 00:50] satyaakam commented on #38
Share the graphics image

[2021-04-24 01:29] satyaakam commented on #5
When are we getting the new website design live ?

[2021-04-24 06:52] #43 closed, assigned to raukadah

[2021-04-25 10:21] realslimshanky commented on #37
Event Scheduled on PyDelhi Meetup page thanks to Satyakaam - https://www.meetup.com/pydelhi/events/277708533/

[2021-04-30 08:15] vipulgupta2048 commented on #45
Request the deployment of the blog. Thanks! @pythonindia/pycon-india-2021-leads-approvers @pythonindia/pycon-india-2020-infrastructure cc: @Sc0rpi0n101

We have another blog merged today for mentorship and their session is tomorrow. It would be really helpful if we can deploy the blog by EOD.

[2021-05-01 00:43] satyaakam commented on #37
![PYflames](https://user-images.githubusercontent.com/822770/116765713-2dedf680-aa44-11eb-9492-8559ac56d312.png)

[2021-05-01 00:45] satyaakam commented on #37
pasting the updated image

![PYflames](https://user-images.githubusercontent.com/822770/116765739-5970e100-aa44-11eb-9664-48f5178ec73e.png)

[2021-05-01 03:26] iamaravindsekar commented on #37
@RiteshAgrawal Should the PyJaipur logo be added on the poster?

[2021-05-01 05:31] RiteshAgrawal commented on #37
Yes Please. I will confirm with them also. Thanks for pointing it out.

[2021-05-01 05:44] RiteshAgrawal commented on #37
Also please update the event name from "PyCon India Flames" to "PyFlames"

[2021-05-02 10:04] RiteshAgrawal commented on #37
@noblebatman Since I am unable to reach PyJaipur people to take the permission to use logo, at this point we can go ahead without using PyJaipur logo

[2021-05-02 11:51] shivankgtm commented on #37
Hi we at PyJaipur were not awar of it, just got aware of it from @satyaakam on our TG. We at PyJaipur don't have much people we used to have 2-3 years back to run it in full phase. the first team of it is now quite distributed because of there job profiles in different states. we do believe we would be in more focus with time.

here is the link to image resourses. feel free to use them.
https://gi

[2021-05-02 12:08] RiteshAgrawal commented on #37
Thanks @satyaakam for reaching them out.
@Shivank98 Please reach out to us in case you require any help.

https://github.com/PyJaipur/PyJaipur/tree/master/website/src/images

@noblebatman Please add PyJaipur logo also in the poster.

[2021-05-02 12:10] shivankgtm commented on #37
@RiteshAgrawal Thanks, I ll surely reach out :)

[2021-05-02 14:15] iamaravindsekar commented on #37
Hey folks, I have made the changes to the poster, Its also available in the Gdrive Url - https://drive.google.com/file/d/1A_p-rehEJkxWc_742Mr-AJ6T1uGSko_3/view?usp=sharing

![PYflames](https://user-images.githubusercontent.com/20441340/116816214-a6f16900-ab7e-11eb-9da6-873e36173421.png)

[2021-05-03 08:05] raukadah commented on #44
- [x] PythonPune

[2021-05-03 12:35] #33 closed, assigned to nobody

[2021-05-03 12:35] #37 closed, assigned to iamaravindsekar

[2021-05-04 12:26] raukadah opened #46 "PyCon India 2021 CFP Date extension Announcement"
Scheduled for **05th May 2021 06:00 PM IST**

## Info

The new extended CFP closing date is 22nd May, 2021.

## Tasks
- [x] Blog post announcement
- [x] Mailing list announcement
- [x] Poster Design
- [x] Tweet post
- [x] Instagram Post

### Pre 4PM

- [x] Blog Post merge @Sc0rpi0n101
- [x] Mailing list draft @Sc0rpi0n101
- [x] Poster design @noblebatman
- [x] Tweet draft @rayandas
- [x] Instagram

[2021-05-04 13:28] raukadah opened #47 "PyCon India 2021 Website v1 deployment"
Scheduled for **08th May 2021 06:00 PM IST**

## Info

We need to publish the new website which supports keynotes and ticket booking.

## Tasks
- [x] Merge https://github.com/pythonindia/inpycon2021/pull/7
- [x] Announce the same on social media and mailing list

### Pre 4PM

- [x] Merge https://github.com/pythonindia/inpycon2021/pull/7
- [x] Mailing list draft @Sc0rpi0n101
- [x] Tweet draft @raya

[2021-05-04 16:38] rayandas commented on #46
Social media post draft:

[code]
on thread two:

[code]

[2021-05-04 16:48] anistark commented on #46
@rayandas Probably better to start with the pandemic stuff and then say that's why we're postponing. What do you think?

[2021-05-04 16:52] rayandas commented on #46
Mailing list email draft:

[code]

[2021-05-04 16:53] rayandas commented on #46
@anistark yes sounds good.

[2021-05-05 08:05] Sc0rpi0n101 commented on #46
PR for the blog: https://github.com/pythonindia/inpycon-blog/pull/365

We should also update the date on the CFP page.

[2021-05-05 08:17] anistark commented on #46
- [x] CFP Page updated

[2021-05-05 10:05] laishawadhwa commented on #46
Please review

Hello everyone,
Keeping in mind the current scenario - the sharp and wide
spread of the pandemic, and the ongoing challenges, we understand that
some people might not have enough time to complete their proposals in time.

So, we are extending the CFP submission deadline for PyCon
India 2021 to help speakers who are currently struggling with the
effects of the pandemic in their count

[2021-05-05 11:30] raukadah commented on #46
Merged blog: https://github.com/pythonindia/inpycon-blog/commit/2927c8b2464c4bbd3a211f8939d7eee77772d6f5

[2021-05-05 12:50] raukadah commented on #36
Can we post a single blog post including the schedule with speaker name in it?

[2021-05-05 12:54] rayandas commented on #46
https://twitter.com/pyconindia/status/1389919477190467585?s=19

https://www.facebook.com/133849919970392/posts/4266538163368193/

https://www.linkedin.com/posts/pyconindia_pyconindia2021-python-cfp-activity-6795686102163427328-A5-1

[2021-05-05 13:31] SaptakS commented on #47
Work remaining for website deployment:
- [x] Update and include the outreach section (tech team)
- [ ] Update tickets.yml with ticket informations to be released @inovizz
- [ ] Update outreach.yml with outreach partners informations. @rayandas @abhishekmishragithub

[2021-05-05 13:52] RiteshAgrawal commented on #39
Agenda:

10:30 - 10:40 - Intro to PyCon India 2021 and community chapters
10:40 - 11:00 - How to get started with Programming? - Hari Sapna Nair
11:00 - 11:20 - The File Server - Vipin Kumar
11:20 - 11:40 - Building web apps for ML/AI using Python StreamLit - Suman Debnath
11:40 - 12:00 - Onwards & Upwards with PYTHON - Subhashree Hazra
12:00 - 12:10 - BYOD(Drink)
12:10 - 12:30 - The Joy of Progra

[2021-05-05 13:52] #39 closed, assigned to nobody

[2021-05-05 13:54] #34 closed, assigned to nobody

[2021-05-05 13:54] RiteshAgrawal commented on #36
@raukadah Yes, we will be doing the same

[2021-05-05 20:24] SaptakS commented on #47
https://github.com/pythonindia/inpycon2021/pull/7 has all the changes needed from code side for the website to be launched and deployed. @palnabarun will sync and get it merged to `experimental` branch tomorrow.

After that, the people responsible for tickets and outreach need to update `data/tickets.yml` and `data/communities.yml` respectively. For community update, you will also need to upload t

[2021-05-05 20:43] SaptakS commented on #47
Also the primary and secondary buttons (or links) in the hero section of the website are controlled by `data/hero.yml` and is not tied to the HTML. So at any point you can remove either the primary or secondary button, and/or modify what link the primary/secondary buttons point to and their text.

[2021-05-06 07:26] #46 closed, assigned to anistark, Sc0rpi0n101

[2021-05-06 07:34] raukadah opened #48 "PyCon India 2021 Tickets Opening Announcements"
Scheduled for **08th May 2021 12:00 PM IST**

## Info

We need to open tickets during pyflames event.

## Tasks
- [x] Create ticket type on Townscript
- [x] Update the ticket link on website
- [x] Make sure ticket booking is working
- [ ] Blog post
- [ ] Poster Design
- [ ] Tweet/Instagram/Linkedin Post
- [ ]  Email sent

### Pre 10 AM

- [x] Create the ticket type on TownScript @inovizz
- [x] Upd

[2021-05-06 14:03] RiteshAgrawal commented on #35
We will be using zoom for the meetup. Meeting is already scheduled.

[2021-05-06 14:03] #35 closed, assigned to nobody

[2021-05-06 14:04] RiteshAgrawal commented on #36
Blog published

[2021-05-06 14:04] #36 closed, assigned to Sc0rpi0n101

[2021-05-07 06:58] rayandas commented on #47
Social media post:
[code]
[poster]

[2021-05-07 21:58] Sc0rpi0n101 commented on #47
Mailing list draft, please review

[code]

[2021-05-07 21:59] Sc0rpi0n101 commented on #48
Blog PR: https://github.com/pythonindia/inpycon-blog/pull/367#pullrequestreview-654893278

Some information like ticket prices needs to be updated, please comment on the PR with the correct data.

[2021-05-09 03:38] anistark opened #49 "Announce Outreach Partners"
We can announce 1 per day in regular interval. So far, we got 2 only.

- [x]  Merge PR and deploy website.
- [x]  Announce FOSS United. (social media channels only) - @rayandas
- [x]  Announce GirlScript. (social media channels only) - @rayandas

[2021-05-12 07:23] raukadah opened #50 "PyCon India 2021 Design requests"
It tracks the poster requests for Design working group:

- [ ] Office poster having CFP link and tickets link
- [x] 10 days left CFP countdown
- [x] 5 days left CFP countdown
- [x] 4 days left CFP countdown
- [x] 3 days left CFP countdown
- [x] 2 days left CFP countdown
- [x] 1 days left CFP countdown
- [ ] Keynote Speaker announcement post

[2021-05-12 07:24] raukadah commented on #50
@noblebatman Please have a look at these issues and update it here accordingly.
For today, we need office poster and 10 days left countdown poster.

[2021-05-12 07:51] rayandas commented on #50
@raukadah Countdown posters are already there on figma.

[2021-05-12 07:58] rayandas commented on #49
FOSS United: https://twitter.com/pyconindia/status/1392084010612924416
GirlScript: https://twitter.com/pyconindia/status/1392388284131680257

[2021-05-12 07:58] rayandas commented on #49
Closing the issue.

[2021-05-12 07:58] #49 closed, assigned to nobody

[2021-05-12 09:50] raukadah opened #51 "PyCon India 2021 InKind Sponsors Announcements"
Scheduled for **15th May 2021 05:00 PM IST**

## Info

We need to open InKind Sponsors.

## Tasks

- [x] Finalize the content of the inkind sponsors
- [x] Google form for inkind sponsors selection
- [ ] Blog post
- [ ] Poster
- [ ] Social media post
- [ ] Emails

### Pre 10 AM

- [x] Add the required info for the blog @inovizz
- [x] Create the google form for the InKind Sponsors selection @inovizz

[2021-05-12 11:32] Sc0rpi0n101 commented on #51
Can I get some pointers for what all has been finalized for the InKind sponsorships? The last meeting I joined, stuff was still being planned and discussed.

[2021-05-13 13:48] inovizz commented on #51
I'll DM you on WhatsApp or Zulip.

[2021-05-14 15:47] satyaakam commented on #44
Can someone share the Zoom recording of session happened with a follow up mail to all groups ?

[2021-05-16 10:16] wavicles opened #52 "BoF and Poster Session Announcement"
Scheduled for **17th May 2021 4:00 PM IST**

## Info

We need to announce the CFP for BoFs and Poster Session.

## Tasks
- [x] Junction setup - Create proposal types for BoF and Poster Session.
- [x] Make sure Proposal submission works on CFP submission page. (Trial submission)
- [x] Add relevent information on CFP Page.
- [x] Information on main website (Info in About page and Submission Button o

[2021-05-16 10:17] wavicles commented on #52
@raukadah Please  add assignees

[2021-05-16 10:24] wavicles commented on #52
Refer the docs : Information related to BoF and Poster Session and Important points from discussion in the meeting.
1. [BoFs](https://pad.riseup.net/p/PyConIndia2021-BoF-keep)
2. [Poster Session](https://pad.riseup.net/p/PyConIndia2021-Poster-Session-keep)

[2021-05-16 10:27] wavicles commented on #31
A new issue #52  regarding announcement of BoFs and Poster Session is created. Closing this.

[2021-05-16 10:27] #31 closed, assigned to nobody

[2021-05-16 13:22] SaptakS commented on #52
What kind of info is needed in website?

[2021-05-17 05:25] Sc0rpi0n101 commented on #52
Blog PR: https://github.com/pythonindia/inpycon-blog/pull/370

Please review.

[2021-05-17 15:07] raukadah opened #53 "Announce First Keynote Speaker"
## Info
Scheduled for May 19th, 2021 at 6 PM.

## Tasks
- [x] Social Media announcement @rayandas
- [x] Blog post announcement @Sc0rpi0n101
- [x] Mailing list announcement  @raukadah
- [x] Website update to display the first keynote speaker.  @SaptakS

## Timeline

### Pre 5PM
- [x] Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [x] Draft the social media announcement @rayandas @abhishekmishra

[2021-05-17 15:11] raukadah commented on #51
@inovizz @Sc0rpi0n101 Any updates on this? Can we target it by 22nd May, 2021?

[2021-05-17 15:12] SaptakS commented on #53
Website is already ready, just need to add keynote speaker in data/keynote_speakers.yml and then change live to true.

[2021-05-20 06:28] rayandas commented on #53
Social media post:
[code]

[2021-05-20 09:11] Sc0rpi0n101 commented on #53
Blog PR: https://github.com/pythonindia/inpycon-blog/pull/372

[2021-05-20 10:56] anistark commented on #53
@palnabarun @sayanchowdhury Need to deploy the [blog PR](https://github.com/pythonindia/inpycon-blog/pull/372) first to get the link to update website PR. ^

[2021-05-20 10:56] anistark commented on #53
@noblebatman Please upload the poster for promotion once ready.

[2021-05-20 10:59] anistark commented on #53
Website PR is progress: https://github.com/pythonindia/inpycon2021/pull/15

[2021-05-20 12:07] anistark commented on #53
Mail list draft: https://pad.riseup.net/p/inpycon21-keynote-1-keep

[2021-05-20 13:26] #53 closed, assigned to raukadah

[2021-05-22 03:38] wavicles commented on #52
The task is completed.

[2021-05-22 03:38] #52 closed, assigned to sayanchowdhury, SaptakS, Sc0rpi0n101, rayandas

[2021-05-22 14:18] inovizz commented on #51
@Sc0rpi0n101 - I've provided the required information to you over the email, please take a look and let me know if you need any other details.

[2021-05-24 14:02] sayanchowdhury commented on #48
This is done. Closing the issue.

[2021-05-24 14:02] #48 closed, assigned to inovizz, Sc0rpi0n101, rayandas

[2021-06-01 07:11] anistark opened #54 "Announce second keynote speaker"
Info
Scheduled for June 2nd, 2021 at 6 PM.

Tasks

- [x]  Social Media announcement post @rayandas
- [x] Thumbnail design @noblebatman
- [x]  Blog post announcement @Sc0rpi0n101
- [x]  Mailing list announcement post @anistark
- [x]  Website update to display the second keynote speaker. @anistark @SaptakS

Timeline
Pre 5PM

- [x]  Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [x]  Draft the so

[2021-06-01 13:18] anistark commented on #54
Name: Sebastián Ramírez

Short: Creator of FastAPI, Typer

Bio:
Sebastián Ramírez (tiangolo) is the creator of FastAPI, Typer, and other open source tools.

He has worked and led teams of developers from Latin America to the Middle East. Always building different types of products and custom solutions involving data processing, distributed systems, and Machine Learning.

FastAPI was included in th

[2021-06-01 13:53] rayandas commented on #54
Social Media announcement:
[code]

[2021-06-01 14:26] iamaravindsekar commented on #54
Hey folks, the poster can be found in the following url
https://drive.google.com/file/d/1pJKefvbh8_ztLa_kcvy-VAVu2bO_2eEX/view?usp=sharing

The Thumbnails are available in the attached zip file
[SebastianThumbnail.zip](https://github.com/pythonindia/inpycon2021-tasks/files/6576947/SebastianThumbnail.zip)

[2021-06-01 19:02] vipulgupta2048 commented on #54
Blog Post: https://github.com/pythonindia/inpycon-blog/pull/374

[2021-06-02 05:59] anistark commented on #54
@raukadah @RiteshAgrawal  @sayanchowdhury Please review the poster design above.

[2021-06-02 11:13] anistark commented on #54
Mail draft: https://pad.riseup.net/p/inpycon21-keynote-2-keep

[2021-06-02 11:34] anistark commented on #54
Website and Blog PRs ready to deploy.
@palnabarun @sayanchowdhury

[2021-06-02 12:17] #54 closed, assigned to sayanchowdhury, anistark

[2021-06-06 12:11] Sc0rpi0n101 commented on #51
Blog link: https://github.com/pythonindia/inpycon-blog/pull/376

[2021-06-13 04:41] anistark opened #55 "Announce null community as outreach partner"
Tasks:

- [x] Update website. @anistark
- [x] Announce on social media. @rayandas

[2021-06-14 10:18] rayandas commented on #55
will announce today.

[2021-06-14 12:36] #55 closed, assigned to nobody

[2021-06-14 12:37] anistark commented on #51
@inovizz What's happening here? Anywhere in particular we're blocked?

cc: @sayanchowdhury @raukadah @RiteshAgrawal

[2021-06-14 12:38] anistark commented on #45
@vipulgupta2048 Can we close this or something pending here?

[2021-06-14 12:39] #47 closed, assigned to sayanchowdhury, palnabarun

[2021-06-14 12:40] anistark commented on #44
Can we close this?
@abhiramr

[2021-06-14 12:41] anistark commented on #42
Got a mail recently from Hopin about something "StreamYard Business".
Does this affect us? @GoelJatin

[2021-06-14 12:42] anistark commented on #40
@Sc0rpi0n101 @rachejazz
Any update here?

[2021-06-14 12:43] anistark commented on #38
@RiteshAgrawal Can we close this?

[2021-06-14 12:43] anistark commented on #32
@RiteshAgrawal Let's start prepping for 2nd PyFlames?

[2021-06-14 12:44] anistark commented on #29
@apsychogirl Any updates here?

[2021-06-14 12:45] anistark commented on #28
Are we stuck somewhere on this?

@inovizz @GoelJatin

I can see the announcement issue #51

[2021-06-14 12:46] anistark commented on #24
CFP is closed now. Hence, closing this issue.

[2021-06-14 12:46] #24 closed, assigned to nobody

[2021-06-14 12:47] anistark commented on #22
@palnabarun Should we close this issue or are we still adding people?

[2021-06-14 12:47] anistark commented on #20
@realslimshanky Any update on this? Who's working on it?

[2021-06-14 12:49] anistark commented on #10
CFP is now closed. Closing this.

[2021-06-14 12:49] #10 closed

[2021-06-14 12:49] anistark commented on #5
New design is also live now. Closing this.

[2021-06-14 12:49] #5 closed

[2021-06-14 12:50] anistark commented on #9
@rayandas Do we've a Facebook event created yet?

[2021-06-14 12:57] satyaakam commented on #5
i still see the old theme here https://in.pycon.org/blog/

[2021-06-14 12:59] satyaakam commented on #44
i thought we are going to have more PyFlames coming up as run up events to the conference

[2021-06-14 13:07] anistark commented on #5
@satyaakam blog has old theme. We're discussing on Zulip wg/technology about it.

[2021-06-14 13:08] anistark commented on #44
Yes the next month there's another PyFlames next month.

[2021-06-14 13:08] rayandas commented on #9
Created.
Facebook: https://www.facebook.com/events/124152263125918
LinkedIn: https://www.linkedin.com/events/6807565082772467712/

[2021-06-14 13:08] #9 closed

[2021-06-14 13:14] anistark commented on #17
Can we document these somewhere and close this issue?

@realslimshanky @abhishekmishragithub

[2021-06-14 13:19] inovizz commented on #51
@anistark - The blog seem to be pending as of now. Once that is done, we can proceed further.

[2021-06-14 13:20] inovizz commented on #51
Blog status available here - https://github.com/pythonindia/inpycon-blog/pull/376

[2021-06-14 14:26] GoelJatin commented on #27
This was a placeholder task that we had created to keep track of the Job board plan and execution. Given my current commitments I won't be able to take ownership for this.

[2021-06-14 14:28] GoelJatin commented on #28
Nope, we had created this towards the beginning to plan further on it and now we've other individual tasks already created for it, closing this one.

[2021-06-14 14:28] #28 closed, assigned to inovizz, GoelJatin

[2021-06-14 14:29] GoelJatin commented on #42
Can you please include me in the email as well. We're yet to start the mail chain with them from our (my) side, not really sure if there's an ongoing conversation

[2021-06-14 14:42] RiteshAgrawal commented on #38
Yes, closing this.

[2021-06-14 14:42] #38 closed, assigned to RiteshAgrawal, abhishekmishragithub

[2021-06-14 15:19] rachejazz commented on #40
@anistark yes, this is the blog:
https://in.pycon.org/blog/2021/outreach-partners.html. Closing this.

[2021-06-14 15:19] #40 closed, assigned to Sc0rpi0n101

[2021-06-15 03:41] anistark commented on #27
@GoelJatin Can you assign someone else as owner? I believe this is for later anyway.

[2021-06-15 03:42] anistark commented on #42
That one I got on my company account. Not related to PyCon India. But just thought of mentioning here to you since you are leading conversations on with Hopin.

[2021-06-15 05:42] #45 closed, assigned to vipulgupta2048

[2021-06-16 19:26] codenamesubho opened #56 "Poster for BOF and Poster Design Request"
It tracks the poster requests for Design working group:

Poster having CFP link
 [X] ~10 days left CFP countdown~
 [ ] 5 days left CFP countdown
 [ ] 4 days left CFP countdown
 [ ] 3 days left CFP countdown
 [ ] 2 days left CFP countdown
 [ ] 1 days left CFP countdown

[2021-06-18 08:03] raukadah opened #57 "Announce third keynote speaker"
Info
Scheduled for June 25th, 2021 at 12 PM.

Tasks

- [x]  Social Media announcement post @rayandas
- [x] Thumbnail design @noblebatman
- [x]  Blog post announcement @Sc0rpi0n101
- [x]  Mailing list announcement post @anistark / @raukadah
- [x]  Website update to display the second keynote speaker. @anistark @SaptakS

Timeline
Pre 12PM

- [x]  Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [x

[2021-06-18 08:04] raukadah opened #58 "Announce fourth keynote speaker"
Info
Scheduled for July 1, 2021 at 6 PM.

Tasks

- [x]  Social Media announcement post @rayandas
- [x] Thumbnail design @noblebatman
- [x]  Blog post announcement @Sc0rpi0n101
- [x]  Mailing list announcement post @anistark / @raukadah
- [x]  Website update to display the fourth keynote speaker. @anistark @SaptakS

Timeline
Pre 5PM

- [x]  Merge the blog post @vipulgupta2048 @Sc0rpi0n101
- [x]  Dr

[2021-06-23 06:05] raukadah commented on #57
![signal-2021-06-18-124048](https://user-images.githubusercontent.com/47899089/123044327-1fee9d80-d417-11eb-81d6-a469aa3b27d8.jpeg)

[2021-06-23 06:06] raukadah commented on #57
*PyCon India Keynote Introduction Blog*

*Dr. AjithKumar B P*

Dr Ajith worked as a senior scientist with Inter University Accelerator Centre, New Delhi from 1985-2021.

He has done his M.Sc and PhD in Nuclear Physics from University of Calicut and M.Sc in Accelerator Physics, from University of Manitoba, Canada. He works mainly in the area of design and development of particle accelerators and in

[2021-06-23 06:07] raukadah commented on #57
@vipulgupta2048 @Sc0rpi0n101 Can we get the blog draft out for review?
@noblebatman Can we get the Keynote poster up?
@rayandas Can we get the tweets draft ready?

[2021-06-23 11:01] Sc0rpi0n101 commented on #57
Blog draft: https://github.com/pythonindia/inpycon-blog/pull/378

[2021-06-24 06:06] rayandas commented on #57
Social media post draft:
[code]

[2021-06-24 12:42] iamaravindsekar commented on #57
I have attached the Thumbnail files for the website, Will upload the poster image when the Bio details of the poster is decided.
[Thumbnail-Ajithkumar.zip](https://github.com/pythonindia/inpycon2021-tasks/files/6709252/Thumbnail-Ajithkumar.zip)

[2021-06-24 13:45] iamaravindsekar commented on #57
The url to the poster file in the GDrive
https://drive.google.com/file/d/1km8s8d-szKg8NXSDJIZhtxJWJM-wq5Py/view?usp=sharing

[2021-06-25 06:24] #57 closed, assigned to anistark

[2021-06-25 09:34] raukadah commented on #42
@GoelJatin Can I start the thread with Hopin next week? I will make the introduction and you can take it from there.

[2021-06-25 09:34] raukadah commented on #56
@codenamesubho @noblebatman Any updates on this since we have only 2 left?

[2021-06-25 09:38] raukadah commented on #51
https://in.pycon.org/blog/2021/call-for-in-kind-sponsors.html and https://mail.python.org/pipermail/inpycon/2021-June/013239.html It's done. Thank you all.

[2021-06-25 09:38] #51 closed, assigned to inovizz

[2021-06-25 16:40] GoelJatin commented on #42
Sure, let's do it towards the end of the week

[2021-06-27 05:19] palnabarun opened #59 "Improve responsiveness of website and blog"
## Description

The current iteration of the [website][1] and [blog][2] do not render very well on phone.

The source code are in [pythonindia/inpycon2021][3] and [pythonindia/inpycon-blog][4] for the blog. They both follow the same base components. If you improve one, the other can automatically be ported to.

## Tasks

Improve responsiveness of the website and blog theme

## Skills Required

HTM

[2021-06-28 06:29] RiteshAgrawal commented on #58
![LucianoRamalho2016-2400x3200-2 jpg](https://user-images.githubusercontent.com/6443008/123589970-a46e6100-d807-11eb-95c2-f417dc13cf9b.JPG)

Name: Luciano Ramalho
Short: Author of Fluent Python
Bio:
Luciano Ramalho is the author of Fluent Python (O'Reilly), published
in 9 languages. He's been a professional Python programmer since 1998,
and he just finished writing the Fluent Python, Second Editio

[2021-06-28 06:35] RiteshAgrawal commented on #58
I have added the speaker content.

@vipulgupta2048 @Sc0rpi0n101 Can you please create the blog post?
@noblebatman Can we please have the poster available?
@rayandas Can we have the announcement tweet ready?
@SaptakS Can we have the website changes ready?

[2021-06-28 10:12] vipulgupta2048 opened #60 "Write for the PyCon India Program Guide"
We create PyCon India Program guide (PPG) for 2020 to help our attendees get aware of the events to come and things they can look out for in the conference. https://in.pycon.org/blog/2020/announce-pycon-india-program-guide.html

This year we intend to create a useful program guide that goes even further to help both first-timers or experienced attendees get the most out of the event. We would like

[2021-06-28 16:57] rayandas opened #61 "Announce Ticket sales with Keynote speakers poster."
- [x] First poster with announced 4 keynote speakers.

- [ ] Second poster with all the keynote speakers.

[2021-06-28 17:00] rayandas opened #62 "Push Ticket Sales."
There will be sub issues which we'll add here.

[2021-06-28 17:02] rayandas opened #63 "Daily announcement content writing."
We need new contents for daily announcements on Twitter, LinkedIn and Twitter like, ticket sales, talk schedule announcement, and so on.

[2021-06-28 17:04] rayandas opened #64 "[Sub issue] Post ticket sales on Facebook groups."

[2021-06-28 17:06] rayandas commented on #62
- [ ] https://github.com/pythonindia/inpycon2021-tasks/issues/64
- [ ] https://github.com/pythonindia/inpycon2021-tasks/issues/65
- [ ] https://github.com/pythonindia/inpycon2021-tasks/issues/67

[2021-06-28 17:08] rayandas opened #65 "[Sub issue] Post ticket sales on LinkedIn groups"

[2021-06-28 17:26] rayandas opened #66 "Check with colleges and promote PyCon India 2021"

[2021-06-28 17:29] rayandas opened #67 "[Sub issue] Ticket sales x-post on all the mailing list."
We have all the community mailing lists on [this spreadsheet.](https://docs.google.com/spreadsheets/d/1jvsU7ev2B6VZA_r8D4_oaMWhy5Mharia4UWrbqwNWZw/edit#gid=0)
Whoever will x-post he/she/they need to subscribe to those mailing list first and send the email keeping all the mailing list on bcc.

[2021-06-28 17:57] akshay196 opened #68 "Finding SMEs and contacting them for mentorship"
We see value in pre-event rehearsals of the talks. We need Subject Matter Experts (SMEs) to help speakers in tweaking their presentations. The mentors will guide the speakers by giving feedback and suggestions.

Reach out to "Akshay Gaikwad" or "Bhavin Gandhi" on Zulip if you would like to help us to find SMEs and contact them.

[2021-06-29 14:42] vipulgupta2048 commented on #58
Creating the blog post.

[2021-06-30 15:48] iamaravindsekar commented on #58
Added the poster file to the Gdrive, It can be found in the url https://drive.google.com/file/d/1Ggtd2SbxlXCLKmiqAqn4wEageyYThqmk/view?usp=sharing

[2021-07-01 06:01] rayandas commented on #58
Social media announcement draft:
[code]

[2021-07-01 09:50] iamaravindsekar commented on #58
The url for folder containing Thumbnail...
https://drive.google.com/drive/folders/1qXmPNZCR7mPLXTSjkEEEXrijpLt1Sqkb?usp=sharing

[2021-07-01 11:34] RiteshAgrawal commented on #58
@raukadah Email draft: https://pad.riseup.net/p/fourth-speaker-email-tmp

[2021-07-01 15:30] raukadah commented on #58
https://mail.python.org/pipermail/inpycon/2021-July/013244.html all done here, closing it.

[2021-07-01 15:30] #58 closed, assigned to RiteshAgrawal

[2021-07-04 09:44] GoelJatin commented on #42
Hey @raukadah , let's start the mail thread this week avoiding any further delays

[2021-07-12 16:57] GoelJatin commented on #42
@raukadah , gentle reminder, let's start the thread ASAP

[2021-07-16 12:02] raukadah opened #69 "Create FAQ page for PyCon India 2021"
We need FAQ page for PyCon India 2021
Here is the FAQ page for PyCon India 2020: https://in.pycon.org/2020/faq/

[2021-07-17 08:08] RiteshAgrawal opened #70 "Create poster for pyflames v2"
We will require to create poster for pyflames v2. Before that, we need to finalise the name for the event.
Once confirmed, can add to poster..

[2021-07-17 08:13] RiteshAgrawal opened #71 "Promotions for PyFlames"

[2021-07-17 08:13] RiteshAgrawal opened #72 "Blog for Pyflames v2"

[2021-07-17 08:13] RiteshAgrawal opened #73 "Finalise event platform for pyflames v2"

[2021-07-17 08:14] RiteshAgrawal opened #74 "Create Pyflames v2 event on each of the meetup group page"

[2021-07-17 08:17] RiteshAgrawal opened #75 "pyflames v2 Structure"
Date:
August 7, 2021

Duration
2.30 - 3.00 hrs

Agenda
1. Panel Discussion with community folks (45- 50 min)
2. Lightening talks by different outreach communities (45 min)
3. Poster presentation ( 60 min)

[2021-07-17 08:18] RiteshAgrawal opened #76 "Create Pyflames v2 event on each meetup page"

[2021-07-17 08:19] RiteshAgrawal opened #77 "Finalise Pyflames v2 event name"

[2021-07-17 08:21] RiteshAgrawal opened #78 "Finalise panel discussion for pyflames v2"

[2021-07-17 08:21] RiteshAgrawal opened #79 "Finalise lightening talks for pyflames v2"

[2021-07-17 08:22] RiteshAgrawal opened #80 "Finalise poster presentation for pyflames v2"

[2021-07-20 19:38] vipulgupta2048 commented on #69
On it

[2021-07-23 15:03] raukadah commented on #42
Sorry for the late reply, I have dropped an email to hopin, waiting for their reply.

[2021-07-28 10:51] raukadah opened #81 "Need Multiple Posters for sharing schedules"
Since the PyCon India 2021 is almost finalized. We need different varieties of posters.

- [ ] A poster with all keynotes and domain specific talks
   - [x] ML/AI/NLP
   - [x] Core Python + web dev + automation
   - [x] Developer Tools + Decentralized
   - [x] Culture & Society
- [x] A poster just highlighting talks from these domains
   - [x] ML/AI/NLP
   - [x] Core Python + web dev + automation

[2021-07-28 10:54] raukadah commented on #81
@kalyan678 @wavicles Can you share the details in PM with @noblebatman ? So that he can start working on that.
cc @abhishekmishragithub

[2021-07-29 08:50] raukadah opened #82 "Create a placeholder event for PyCon India 2021 on different meetup page"
Scheduled for: 01st Aug, 2021

Tasks:

- [ ] Draft the write up for PyCon India 2021 similar to https://www.meetup.com/Chennaipy/events/274484546/
- [ ] Use the above poster while creating the event: https://twitter.com/pyconindia/header_photo
- [ ] Meetup Group Checklist
   - [ ] bangpypers
   - [ ] Chennaipy
   - [ ] PyDelhi
   - [ ] PythonPune
   - [ ] HydPy

[2021-07-29 08:51] raukadah commented on #82
@anistark @abhishekmishragithub @Sc0rpi0n101 @akshay196 @inovizz Please have a look.

[2021-07-30 10:53] raukadah opened #83 "Publish PyCon India 2021 Schedule"
**Scheduled Date**: Aug 02nd, 2021

### Tasks **Before 5 PM**
- [x] Send the Pull request of Conference and workshop schedule @kalyan678
- [x] Draft the blogpost @Sc0rpi0n101 @vipulgupta2048
- [x] Draft the email to be sent to different mailing list @Sc0rpi0n101 @vipulgupta2048
- [x] Get the poster of schedule sharing with keynote @noblebatman
- [x] Get the draft tweet and Instagram post @abhishek

[2021-07-30 11:00] RiteshAgrawal commented on #77
Going with pyflames itself.

[2021-07-30 11:00] #77 closed, assigned to nobody

[2021-07-30 11:01] RiteshAgrawal commented on #74
Duplicate of #76

[2021-07-30 11:01] #74 closed, assigned to nobody

[2021-07-30 11:02] RiteshAgrawal commented on #70
The event name will by pyflames only

[2021-07-30 11:02] RiteshAgrawal commented on #73
Will be doing on airmeet.

[2021-08-01 10:58] vipulgupta2048 commented on #83
On it

[2021-08-02 06:00] RiteshAgrawal commented on #70
https://drive.google.com/file/d/1WbuQ80MVznrS6UcFnDxAPPiUti15PEX5/view

[2021-08-02 06:00] #70 closed, assigned to iamaravindsekar

[2021-08-05 03:19] #83 closed, assigned to raukadah

[2021-08-05 03:20] raukadah commented on #69
@vipulgupta2048 Thank you for adding nice suggestions, Can we get a PR for these comments? https://github.com/pythonindia/inpycon2021/pull/31#pullrequestreview-711028422

[2021-08-05 16:15] #76 closed, assigned to nobody

[2021-08-06 07:15] GoelJatin commented on #42
The responses have been pretty slow from Hopin side so far, we'll have to be more aggressive going ahead at least till the time we are able to setup couple of demo events and run them successfully

[2021-08-06 13:37] RiteshAgrawal commented on #80
- Voice Assistant using Python
- Feature Stores for Machine Learning
- Introduction to distributed computation using dask
- Data Labeling with Doccano
- easyAI (Three Men’s Morris)
- Top Billboards Data Analysis Using Streamlit Framework

[2021-08-06 13:37] #80 closed, assigned to nobody

[2021-08-06 13:37] RiteshAgrawal commented on #79
- Accessing routers via telegram bots using python by Shreyas Kapale
- Python typing koans by Krace Kumar
- MetaPy - Your Python's MotaBhai by Jatin Goel
- Journey from India to the rest of the world by Vandana Verma Sehgal

[2021-08-06 13:37] #79 closed, assigned to nobody

[2021-08-06 13:37] RiteshAgrawal commented on #78
Panel Discussion - Learning and Experience being part of the community
Panel Members:
- Anand Pillai (@skeptichacker)
- Anand Chitipothu (@anandology)
- Noufal Ibrahim (@noufalibrahim)
- Vandana Verma Sehgal (@InfosecVandana)
- Moderator: Abhiram R (@abhicantdraw)

[2021-08-06 13:37] #78 closed, assigned to nobody

[2021-08-06 13:38] #73 closed, assigned to nobody

[2021-08-06 13:38] RiteshAgrawal commented on #72
https://in.pycon.org/blog/2021/pyflames-v2.html

[2021-08-06 13:38] #72 closed, assigned to nobody

[2021-08-06 13:38] #71 closed, assigned to nobody

[2021-08-06 13:39] #75 closed, assigned to nobody

[2021-08-13 07:58] anistark opened #84 "In-Kind Sponsor Announcements"
## Tasks:

- [x] [Design Website Section](https://github.com/pythonindia/inpycon2021/issues/37). @SaptakS
- [x] Update Website Section. Yaml file. @anistark
- [x] Create poster design. @noblebatman
- [x] Create draft blog post content. @Sc0rpi0n101
- [x] Create draft social media post content. @rayandas
- [x] Create draft mail content. @anistark

## Announcements:
- Deploy website and blog @palnab

[2021-08-13 08:06] anistark commented on #84
DeepSource branding assets : https://github.com/deepsourcelabs/brand-assets

[2021-08-14 05:03] anistark commented on #84
IBM Quantum Assets
[IBM-Quantum-logos-guide 3.zip](https://github.com/pythonindia/inpycon2021-tasks/files/6985910/IBM-Quantum-logos-guide.3.zip)

[2021-08-24 15:24] raukadah commented on #84
Fulfil.IO
<img width="651" alt="Fulfil-Blue-Composite" src="https://user-images.githubusercontent.com/47899089/130644646-2cf45f51-5a72-4ba8-af94-d767d32e0dc7.png">

[2021-08-24 17:41] raukadah commented on #84
Viprush
![logo_name](https://user-images.githubusercontent.com/47899089/130664019-53d59ca2-db2f-4874-b8ea-c537175e378d.png)

[2021-08-25 07:37] Sc0rpi0n101 commented on #84
PR for the blog with first 3 sponsors: https://github.com/pythonindia/inpycon-blog/pull/388

[2021-08-27 14:16] anistark commented on #84
[Website Update PR for all in-kind sponsors.](https://github.com/pythonindia/inpycon2021/pull/41)

[2021-09-03 13:24] Sc0rpi0n101 opened #85 "[Blog] Workshop blog for the talks by topics series"
The blog will include a list of all the workshops with a description and link to the proposal page. @

[2021-09-03 13:29] Sc0rpi0n101 opened #86 "[Blog] Workshop blog for the talks by topics series"
The blog will include a list of all the workshops with a description and link to the proposal page.

[2021-09-03 13:50] #85 closed, assigned to nobody

[2021-09-14 16:01] #84 closed, assigned to nobody

[2022-03-04 04:19] #68 closed, assigned to nobody